.navbar {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, #DCE8EA, #751616);
    z-index: 2;
}

.hero {
    position: relative;
    min-height: 100vh;
}

.horizontalLine {
    margin: 3em auto auto;
    position: relative;
    width: 90%;
    height: 1px;
    background-color: black; /* Adjust color as needed */
    opacity: 20%;

}

.servicesHeading {
    position: relative;
    padding: 0.1em;
    display: block;
    width: 14%;
    margin: -2.6em auto auto;
    text-align: center;
    background-color: white; /* Ensure the text is readable */
}

.gridContainer {
    /*display: grid;*/
    padding: 3em;
    /*grid-template-columns: auto auto auto;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 3em;
    flex-grow: 1;
}

.gridItems {
    display: flex;
    max-width: 30%;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    flex-grow: 1;
    box-shadow:  0 8px 8px rgba(0, 0, 0, 0.1);
}

.gridItems:hover{

    opacity: 60%;
}

.gridItems p{
    padding: 1.5em;
}

.gridItems h2{
    margin-left: 1em;
    margin-top: -1em;
}

.contactBox {
    /*height: 70px;*/
    width: 120px;
    display: block; /* Or 'block' if you prefer */
    padding: 12px 20px; /* Or any other padding you like */
    margin: auto; /* Adjust as needed */
    border: 1px solid black;
    /*background-color: black; !* The box's color *!*/
    color: orange; /* Text color */
    text-decoration: none; /* Removes the underline */
    text-align: center; /* Centers the text within the box */
    cursor: pointer; /* Changes the cursor to signify this can be clicked */

    /* Optional: Add some hover effects */
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 0.5rem;
    }

    .servicesHeading {
        width: auto; /* Full width on smaller screens */
        margin-top: 1em;
    }

    .gridContainer {
        padding: 1em;
        justify-content: center;
    }

    .contactBox {
        padding: 10px;
        width: auto; /* Full width on smaller screens */
    }

    /* If you have a fixed height in any element, consider making it more flexible or adjusting it */
    .hero {
        min-height: 50vh; /* Adjust the hero height on smaller screens */
    }

    .gridItems {
        flex: 1 1 auto; /* Allows the item to grow and shrink */
        min-width: 300px;
        display: flex;
        cursor: pointer;
        overflow: hidden;
        box-shadow:  0 8px 8px rgba(0, 0, 0, 0.1);
    }
}