.body, .html{
    height: 100%;
    margin: 0;
}

.hero {
    position: relative;
    height: 840px;
    flex: 1;
    min-height: 100vh;
}

.textOverlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Optionally set text color */
    z-index: 1; /* Ensure text is above the image */
    font-size: xxx-large;
    opacity: 75%;
}

.sectionTwo {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    /*flex-grow: 1;*/
    /*height: 840px;*/
    /*padding: 10px;*/
    /*align-content: center;*/
    justify-content: space-evenly;
    min-height: 100vh;
    /*gap: 9em;*/

}

.sectionTwoText {
    margin: auto;
    padding: 5em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.08rem;
    font-size: 1.2em;
    max-width: 45%;
    /*display: flex;*/
    /*flex-grow: 1;*/
    /*max-width: 90%;*/
}

.sectionTwoText h1{
   font-size: 2.4em;
}

.cargo{
    /*margin-right: -1em;*/
    /*margin-left: 20em;*/
    /*max-width: 70%;*/
    position: relative;
    /*width: 400px;*/
    overflow: hidden;
}

.cargo img {
    /*margin-top: -3em;*/
    width: 100%;
    height: 100%;
    display: inline-block;
    border-top-left-radius: 700px; /* Adjust to desired radius */
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 100px;
    /*border-top-right-radius: 2000px; !* Adjust to desired radius *!*/
}


/*.horizontalLine {*/
/*    margin: 3em auto auto;*/
/*    position: relative;*/
/*    width: 80%;*/
/*    height: 1px;*/
/*    background-color: black; !* Adjust color as needed *!*/
/*    !*top: 50%;*!*/
/*    opacity: 20%;*/

/*}*/

/*.servicesHeading {*/
/*    position: relative;*/
/*    padding: 0.1em;*/
/*    display: block;*/
/*    width: 14%;*/
/*    margin: -2.6em auto auto;*/
/*    text-align: center;*/
/*    background-color: white; !* Ensure the text is readable *!*/
/*}*/
