/* styles/BlogSlider.module.css */

.blogSlider {
    max-width: 98%;
    margin-top: 2em;
    padding: 2em;
    /*width: 100%;*/
    display: flex;
    align-items: flex-start;
    /*margin: 20px;*/
    gap: 2em;
}

.blogImage {
    flex: 0 0 50%; /* Do not grow, do not shrink, start at 50% of the container's size */
    width: 50%;
    object-fit: cover; /* 'cover' is usually a better fit for images in responsive design */
}

.blogPostNav {
    flex: 0 0 50%; /* Do not grow, do not shrink, start at 50% of the container's size */
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 2em;
}

.blogPosts {
    display: flex;
    gap: 2em;
}

.blogPost {
    width: calc(50% - 10px); /* adjust for gap */
    display: none;
    padding: 1em;
}

.descriptions {
    padding: 2em;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around; !* This will ensure the p and a tags are spaced apart *!*/
}

.descriptions p {
    margin-top: 0;
    /* If you need, add more styles for your paragraph */
}

.descriptions a {
    text-decoration: none;
    color: orangered;
    margin-top: auto; /* Pushes the link to the bottom */
    align-self: start; /* Aligns the link to the left */
}

/*.descriptions {*/
/*    padding: 2em;*/
/*    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);*/
/*    height: 200px;*/
/*}*/

/*.descriptions a {*/
/*    text-decoration: none;*/
/*    color: orangered;*/
/*}*/

.blogPost.active {
    display: block;
}

.navigationDots {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dot {
    appearance: none;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgb(128, 128, 128);
    margin: 0 5px;
    cursor: pointer;
    outline: none;
}

.dot:checked {
    background: orangered;
    width: 12px;
    height: 12px;
    margin-top: -0.02em;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .blogSlider {
        flex-direction: column;
        align-items: stretch;
    }

    .blogImage, .blogPostNav {
        width: 100%; /* Set to full width */
        flex: 0 0 auto; /* Reset flex properties */
    }

    .blogPost {
        width: 100%; /* Full width for smaller screens */
    }
}

.ViewAll {
    display: flex;
    width: 110px;
    height: 60px;
    /*padding: 1.5em;*/
    color: orangered;
    background-color: white;
    margin: auto;
    border: 2px solid silver;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

/*.ViewAll:hover*/